In [1]:
# Available flags:	
# d	definition differs (see metadata)
# e	estimated
# s	Eurostat estimate

In [2]:
import pandas as pd
import numpy as np

file_path = 'data/estat_env_wasfw.tsv'

# Read Data

In [3]:
df = pd.read_csv(file_path)

# FIX for 'geo\TIME_PERIOD\t2020 \t2021 ' column
values = df['geo\TIME_PERIOD\t2020 \t2021 '].to_list()
new_list = []
for i in values:
    new_list.append(i.split('\t'))
df2 = pd.DataFrame(new_list, columns=['geo', '2020', '2021']) # columns separated with tab (\t)

# Merge normal and fixed parts of the data
df = pd.concat([df, df2], axis=1)
df = df.drop(columns = ['geo\TIME_PERIOD\t2020 \t2021 '])
df

,freq,wst_oper,waste,nace_r2,unit,geo,2020,2021
0,A,COL,W091_092_101_FD,A01_A03_FOOD,KG_HAB,AT,2,1
1,A,COL,W091_092_101_FD,A01_A03_FOOD,KG_HAB,BE,3,3
2,A,COL,W091_092_101_FD,A01_A03_FOOD,KG_HAB,BG,9,9
3,A,COL,W091_092_101_FD,A01_A03_FOOD,KG_HAB,CY,49 d,:
4,A,COL,W091_092_101_FD,A01_A03_FOOD,KG_HAB,CZ,3,:
...,...,...,...,...,...,...,...,...
331,A,COL,W091_092_101_FD,TOT,T,PL,4246787,4281212 e
332,A,COL,W091_092_101_FD,TOT,T,PT,1812307 e,1874832 e
333,A,COL,W091_092_101_FD,TOT,T,SE,925000 e,900000 e
334,A,COL,W091_092_101_FD,TOT,T,SI,143570,143254
335,A,COL,W091_092_101_FD,TOT,T,SK,576694,537486

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   freq      336 non-null    object
 1   wst_oper  336 non-null    object
 2   waste     336 non-null    object
 3   nace_r2   336 non-null    object
 4   unit      336 non-null    object
 5   geo       336 non-null    object
 6   2020      336 non-null    object
 7   2021      336 non-null    object
dtypes: object(8)
memory usage: 21.1+ KB

# Preprocessing

In [5]:
def pivot_frame(df):
    renamings = {
        'TOT' : 'total',
        'I55_I56_N-S_FOOD' : 'restaurants',
        'G46_G47_FOOD' : 'retail',
        'C10_C11' : 'manufacture',
        'A01_A03_FOOD' : 'primary_prod',
        'HH':'housholds'
    }
    columns_order = [
        'total',
        'primary_prod',
        'manufacture',
        'retail',
        'restaurants',
        'housholds',
    ]

    df_y2020 = df.pivot(index='geo', columns='nace_r2', values='2020')
    df_y2021 = df.pivot(index='geo', columns='nace_r2', values='2021')

    df_y2020 = df_y2020.rename(columns = renamings)[columns_order]
    df_y2021 = df_y2021.rename(columns = renamings)[columns_order]

    df_y2020['year'] = 2020
    df_y2021['year'] = 2021

    df = pd.concat([df_y2020, df_y2021]).reset_index()
    return df

def preprocess(df):
    columns = [
        'total',
        'primary_prod',
        'manufacture',
        'retail',
        'restaurants',
        'housholds',
    ]
    
    for col in columns:
        df[col] = df[col].apply(lambda x: int(x.split()[0]) if ':' not in x else np.nan)
    return df

## KGs per Capita

In [6]:
kg_hab = pivot_frame(df[(df['unit'] == 'KG_HAB')])
kg_hab = preprocess(kg_hab)
kg_hab

nace_r2,geo,total,primary_prod,manufacture,retail,restaurants,housholds,year
0,AT,136.0,2.0,19.0,9.0,23.0,83.0,2020
1,BE,250.0,3.0,161.0,6.0,8.0,71.0,2020
2,BG,108.0,9.0,19.0,7.0,18.0,55.0,2020
3,CY,397.0,49.0,190.0,56.0,30.0,71.0,2020
4,CZ,91.0,3.0,9.0,6.0,4.0,69.0,2020
5,DE,131.0,2.0,19.0,9.0,22.0,78.0,2020
6,DK,221.0,11.0,102.0,17.0,11.0,79.0,2020
7,EE,125.0,18.0,24.0,15.0,8.0,61.0,2020
8,EL,191.0,35.0,35.0,14.0,21.0,87.0,2020
9,ES,90.0,18.0,30.0,7.0,4.0,30.0,2020
10,EU27_2020,130.0,12.0,27.0,9.0,12.0,70.0,2020
11,FI,116.0,9.0,29.0,10.0,14.0,53.0,2020
12,FR,129.0,18.0,26.0,10.0,16.0,60.0,2020
13,HR,71.0,10.0,2.0,1.0,4.0,53.0,2020
14,HU,93.0,2.0,19.0,4.0,2.0,66.0,2020
15,IE,154.0,11.0,44.0,14.0,36.0,48.0,2020
16,IT,136.0,12.0,9.0,6.0,3.0,107.0,2020
17,LT,137.0,29.0,10.0,10.0,2.0,86.0,2020
18,LU,147.0,12.0,17.0,14.0,14.0,91.0,2020
19,LV,145.0,17.0,19.0,8.0,19.0,82.0,2020
20,MT,154.0,1.0,9.0,8.0,45.0,92.0,2020
21,NL,161.0,27.0,59.0,12.0,5.0,59.0,2020
22,NO,143.0,30.0,5.0,11.0,18.0,78.0,2020
23,PL,112.0,18.0,21.0,8.0,5.0,60.0,2020
24,PT,176.0,10.0,6.0,21.0,16.0,124.0,2020
25,SE,89.0,2.0,5.0,11.0,9.0,61.0,2020
26,SI,68.0,0.0,5.0,7.0,20.0,36.0,2020
27,SK,106.0,13.0,23.0,3.0,1.0,65.0,2020
28,AT,134.0,1.0,21.0,9.0,20.0,83.0,2021
29,BE,262.0,3.0,175.0,6.0,8.0,70.0,2021
30,BG,103.0,9.0,19.0,6.0,17.0,53.0,2021
31,CY,NaN,NaN,NaN,NaN,NaN,NaN,2021
32,CZ,NaN,NaN,NaN,NaN,NaN,NaN,2021
33,DE,NaN,NaN,NaN,NaN,NaN,NaN,2021
34,DK,230.0,10.0,104.0,17.0,12.0,87.0,2021
35,EE,128.0,14.0,31.0,10.0,9.0,64.0,2021
36,EL,NaN,NaN,NaN,NaN,NaN,NaN,2021
37,ES,NaN,NaN,NaN,NaN,NaN,NaN,2021
38,EU27_2020,131.0,11.0,28.0,9.0,12.0,70.0,2021
39,FI,125.0,9.0,29.0,10.0,15.0,63.0,2021
40,FR,129.0,18.0,25.0,9.0,16.0,60.0,2021
41,HR,71.0,10.0,2.0,1.0,4.0,54.0,2021
42,HU,91.0,1.0,16.0,6.0,2.0,65.0,2021
43,IE,150.0,10.0,43.0,15.0,38.0,44.0,2021
44,IT,140.0,11.0,9.0,8.0,4.0,107.0,2021
45,LT,139.0,29.0,10.0,12.0,2.0,86.0,2021
46,LU,131.0,11.0,18.0,14.0,15.0,73.0,2021
47,LV,130.0,16.0,17.0,9.0,15.0,73.0,2021
48,MT,NaN,NaN,NaN,NaN,NaN,NaN,2021
49,NL,148.0,18.0,65.0,12.0,5.0,48.0,2021
50,NO,144.0,33.0,5.0,13.0,17.0,75.0,2021
51,PL,113.0,17.0,21.0,9.0,5.0,61.0,2021
52,PT,181.0,12.0,7.0,22.0,16.0,124.0,2021
53,SE,86.0,2.0,5.0,10.0,9.0,59.0,2021
54,SI,68.0,0.0,6.0,7.0,19.0,36.0,2021
55,SK,99.0,4.0,23.0,3.0,2.0,66.0,2021

## Tonnes

In [7]:
tonne = pivot_frame(df[(df['unit'] == 'T')])
tonne = preprocess(tonne)
tonne

nace_r2,geo,total,primary_prod,manufacture,retail,restaurants,housholds,year
0,AT,1211534.0,13879.0,173734.0,84326.0,201956.0,737639.0,2020
1,BE,2881897.0,38699.0,1862177.0,73591.0,88333.0,819097.0,2020
2,BG,747941.0,63621.0,132817.0,46639.0,121867.0,382997.0,2020
3,CY,354021.0,43564.0,169706.0,50268.0,27145.0,63338.0,2020
4,CZ,972445.0,27022.0,100339.0,64394.0,37941.0,742749.0,2020
5,DE,10922321.0,190203.0,1612505.0,762352.0,1860980.0,6496282.0,2020
6,DK,1286488.0,66452.0,596599.0,99500.0,62544.0,461392.0,2020
7,EE,166513.0,23612.0,31622.0,19976.0,10739.0,80564.0,2020
8,EL,2048189.0,372204.0,375158.0,150472.0,220032.0,930323.0,2020
9,ES,4260845.0,845620.0,1419257.0,348219.0,213023.0,1434726.0,2020
10,EU27_2020,58100000.0,5500000.0,12000000.0,4000000.0,5300000.0,31400000.0,2020
11,FI,641258.0,48011.0,162278.0,57555.0,77914.0,295500.0,2020
12,FR,8713000.0,1221000.0,1729000.0,643000.0,1096000.0,4024000.0,2020
13,HR,286379.0,40916.0,9866.0,4180.0,15072.0,216345.0,2020
14,HU,905068.0,16587.0,187391.0,41952.0,19331.0,639806.0,2020
15,IE,766586.0,55408.0,219453.0,72169.0,178507.0,241048.0,2020
16,IT,8092591.0,712773.0,510018.0,343535.0,193915.0,6332349.0,2020
17,LT,382665.0,81202.0,28057.0,27342.0,4495.0,241570.0,2020
18,LU,92580.0,7384.0,10692.0,8525.0,8739.0,57240.0,2020
19,LV,275304.0,32487.0,36107.0,14765.0,35436.0,156509.0,2020
20,MT,79589.0,759.0,4668.0,3910.0,23016.0,47235.0,2020
21,NL,2811000.0,463045.0,1031407.0,209805.0,83035.0,1023708.0,2020
22,NO,769967.0,162158.0,29088.0,61281.0,97547.0,419893.0,2020
23,PL,4246787.0,673160.0,787017.0,320396.0,190293.0,2275921.0,2020
24,PT,1812307.0,101384.0,61719.0,214233.0,161399.0,1273572.0,2020
25,SE,925000.0,22000.0,53000.0,117000.0,98000.0,635000.0,2020
26,SI,143570.0,93.0,10757.0,15290.0,42666.0,74764.0,2020
27,SK,576694.0,71889.0,125219.0,15825.0,7110.0,356650.0,2020
28,AT,1201165.0,9555.0,187425.0,84286.0,178428.0,741472.0,2021
29,BE,3034977.0,34610.0,2022535.0,69568.0,96369.0,811895.0,2021
30,BG,711844.0,60081.0,131495.0,41211.0,117016.0,362041.0,2021
31,CY,NaN,NaN,NaN,NaN,NaN,NaN,2021
32,CZ,NaN,NaN,NaN,NaN,NaN,NaN,2021
33,DE,NaN,NaN,NaN,NaN,NaN,NaN,2021
34,DK,1344550.0,57985.0,607693.0,99791.0,72081.0,507000.0,2021
35,EE,170501.0,18638.0,41302.0,13113.0,12474.0,84975.0,2021
36,EL,NaN,NaN,NaN,NaN,NaN,NaN,2021
37,ES,NaN,NaN,NaN,NaN,NaN,NaN,2021
38,EU27_2020,58400000.0,5100000.0,12400000.0,4200000.0,5400000.0,31300000.0,2021
39,FI,693662.0,49950.0,158334.0,57460.0,80991.0,346927.0,2021
40,FR,8764000.0,1244000.0,1720000.0,633000.0,1084000.0,4083000.0,2021
41,HR,280008.0,39248.0,9464.0,4103.0,14797.0,212396.0,2021
42,HU,883486.0,12963.0,159309.0,57278.0,19337.0,634598.0,2021
43,IE,753081.0,52691.0,215601.0,75019.0,188955.0,220816.0,2021
44,IT,8291265.0,672971.0,542409.0,474252.0,263013.0,6338620.0,2021
45,LT,390645.0,81202.0,29271.0,33951.0,4651.0,241570.0,2021
46,LU,83622.0,7235.0,11333.0,8861.0,9466.0,46727.0,2021
47,LV,245442.0,30592.0,32518.0,16765.0,28617.0,136950.0,2021
48,MT,NaN,NaN,NaN,NaN,NaN,NaN,2021
49,NL,2586744.0,315150.0,1131100.0,209805.0,83035.0,847654.0,2021
50,NO,777404.0,177958.0,28338.0,69221.0,94556.0,407331.0,2021
51,PL,4281212.0,639352.0,809287.0,345514.0,186433.0,2300626.0,2021
52,PT,1874832.0,126392.0,75257.0,224838.0,162903.0,1285442.0,2021
53,SE,900000.0,22000.0,53000.0,108000.0,98000.0,619000.0,2021
54,SI,143254.0,71.0,13428.0,14465.0,39923.0,75368.0,2021
55,SK,537486.0,23764.0,125013.0,17630.0,8988.0,362091.0,2021

In [8]:
# 2020 only
tonne[tonne['year']==2020]

nace_r2,geo,total,primary_prod,manufacture,retail,restaurants,housholds,year
0,AT,1211534.0,13879.0,173734.0,84326.0,201956.0,737639.0,2020
1,BE,2881897.0,38699.0,1862177.0,73591.0,88333.0,819097.0,2020
2,BG,747941.0,63621.0,132817.0,46639.0,121867.0,382997.0,2020
3,CY,354021.0,43564.0,169706.0,50268.0,27145.0,63338.0,2020
4,CZ,972445.0,27022.0,100339.0,64394.0,37941.0,742749.0,2020
5,DE,10922321.0,190203.0,1612505.0,762352.0,1860980.0,6496282.0,2020
6,DK,1286488.0,66452.0,596599.0,99500.0,62544.0,461392.0,2020
7,EE,166513.0,23612.0,31622.0,19976.0,10739.0,80564.0,2020
8,EL,2048189.0,372204.0,375158.0,150472.0,220032.0,930323.0,2020
9,ES,4260845.0,845620.0,1419257.0,348219.0,213023.0,1434726.0,2020
10,EU27_2020,58100000.0,5500000.0,12000000.0,4000000.0,5300000.0,31400000.0,2020
11,FI,641258.0,48011.0,162278.0,57555.0,77914.0,295500.0,2020
12,FR,8713000.0,1221000.0,1729000.0,643000.0,1096000.0,4024000.0,2020
13,HR,286379.0,40916.0,9866.0,4180.0,15072.0,216345.0,2020
14,HU,905068.0,16587.0,187391.0,41952.0,19331.0,639806.0,2020
15,IE,766586.0,55408.0,219453.0,72169.0,178507.0,241048.0,2020
16,IT,8092591.0,712773.0,510018.0,343535.0,193915.0,6332349.0,2020
17,LT,382665.0,81202.0,28057.0,27342.0,4495.0,241570.0,2020
18,LU,92580.0,7384.0,10692.0,8525.0,8739.0,57240.0,2020
19,LV,275304.0,32487.0,36107.0,14765.0,35436.0,156509.0,2020
20,MT,79589.0,759.0,4668.0,3910.0,23016.0,47235.0,2020
21,NL,2811000.0,463045.0,1031407.0,209805.0,83035.0,1023708.0,2020
22,NO,769967.0,162158.0,29088.0,61281.0,97547.0,419893.0,2020
23,PL,4246787.0,673160.0,787017.0,320396.0,190293.0,2275921.0,2020
24,PT,1812307.0,101384.0,61719.0,214233.0,161399.0,1273572.0,2020
25,SE,925000.0,22000.0,53000.0,117000.0,98000.0,635000.0,2020
26,SI,143570.0,93.0,10757.0,15290.0,42666.0,74764.0,2020
27,SK,576694.0,71889.0,125219.0,15825.0,7110.0,356650.0,2020

In [9]:
# Portugal only
tonne[tonne['geo']=='PT']

nace_r2,geo,total,primary_prod,manufacture,retail,restaurants,housholds,year
24,PT,1812307.0,101384.0,61719.0,214233.0,161399.0,1273572.0,2020
52,PT,1874832.0,126392.0,75257.0,224838.0,162903.0,1285442.0,2021

In [10]:
# Portugal only
kg_hab[kg_hab['geo']=='PT']

nace_r2,geo,total,primary_prod,manufacture,retail,restaurants,housholds,year
24,PT,176.0,10.0,6.0,21.0,16.0,124.0,2020
52,PT,181.0,12.0,7.0,22.0,16.0,124.0,2021

# Data Exploration

In [11]:
tonne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   geo           56 non-null     object
 1   total         50 non-null     float64
 2   primary_prod  50 non-null     float64
 3   manufacture   50 non-null     float64
 4   retail        50 non-null     float64
 5   restaurants   50 non-null     float64
 6   housholds     50 non-null     float64
 7   year          56 non-null     int64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.6+ KB

In [12]:
kg_hab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   geo           56 non-null     object
 1   total         50 non-null     float64
 2   primary_prod  50 non-null     float64
 3   manufacture   50 non-null     float64
 4   retail        50 non-null     float64
 5   restaurants   50 non-null     float64
 6   housholds     50 non-null     float64
 7   year          56 non-null     int64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.6+ KB

In [13]:
tonne.describe()

nace_r2,total,primary_prod,manufacture,retail,restaurants,housholds,year
count,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,56.000000
mean,4.216434e+06,3.934308e+05,8.794753e+05,2.945726e+05,3.744214e+05,2.276534e+06,2020.500000
std,1.144418e+07,1.056832e+06,2.401725e+06,8.043943e+05,1.075450e+06,6.205370e+06,0.504525
min,7.958900e+04,7.100000e+01,4.668000e+03,3.910000e+03,4.495000e+03,4.672700e+04,2020.000000
25%,3.846600e+05,2.365000e+04,3.341525e+04,2.181750e+04,2.404825e+04,2.258740e+05,2020.000000
50%,8.917430e+05,5.404950e+04,1.588215e+05,6.939450e+04,8.568400e+04,4.841960e+05,2020.500000
75%,2.754936e+06,1.871418e+05,6.049195e+05,2.098050e+05,1.844515e+05,1.000362e+06,2021.000000
max,5.840000e+07,5.500000e+06,1.240000e+07,4.200000e+06,5.400000e+06,3.140000e+07,2021.000000

In [14]:
kg_hab.describe()

nace_r2,total,primary_prod,manufacture,retail,restaurants,housholds,year
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,56.000000
mean,138.800000,12.640000,32.440000,10.600000,13.040000,69.920000,2020.500000
std,56.764821,10.352482,42.228803,7.889544,9.745664,19.783357,0.504525
min,68.000000,0.000000,2.000000,1.000000,1.000000,30.000000,2020.000000
25%,106.500000,3.250000,9.000000,7.000000,5.000000,59.250000,2020.000000
50%,131.000000,11.000000,19.000000,9.000000,12.000000,67.500000,2020.500000
75%,147.750000,17.750000,29.000000,12.000000,17.750000,81.250000,2021.000000
max,397.000000,49.000000,190.000000,56.000000,45.000000,124.000000,2021.000000